body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #162521;
    max-width: 1600px;
    background-color: #43344F;
}
img {
    grid-column: 2/-1;
    width: 100%;
}
#headshot{
    width: 10%;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
}
#bubbleChart{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 60%;
    border-radius: 10px;
}
button{
    padding: 15px 7.5%;
    color: white;
    font-size: 3.5em;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 75%;
}
a{
    text-decoration: none;
}
#projectButton{
    background-color: #DF2935;
    left: 10%;
}
#aboutButton{
    background-color: #197BBD;
    right: 10%;
}


/*
colors
blue : 4F7CAC
GREENISH : C0E0DE
DARK GREE : 162521
GREY: 3C474B
WHITE: FFFFFF
*/
