img{
    position: absolute;
    right: 50px;
    width: 700px;
}

div{
    margin: 0 auto;
    /* max-width: 600px; */
    margin-bottom: 20px;
    color: white;
}
div h4{
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.1em;
    margin-left: 10px;
}
div h2{
    margin-bottom: -20px;
}
P{
    margin: 10px 0px;
    margin-left: 10px;
}
a{
    color: white;
}